<%= simple_form_for :q, url: items_path, method: :get do |f| %>
  <%= f.input :name_cont, label: "Search", input_html: { value: @q.present? ? @q[:name_cont] : "" } %>
  <%= f.submit "Search", class: "btn btn-primary mb-2" %>
<% end %>

<div class="row mx-auto">
  <% if @searched_items %>
    <h4>Search results</h4>
    <%= render "items/items", items: @searched_items %>
  <% else %>
    <h4>My items!</h4>
    <%= render "items/items", items: @items %>
    <% if current_user.is_admin? %>
      <h4>All items!</h4>
      <%= render "items/items", items: @all_items %>
    <% end %>
  <% end %>
</div>
