<div>
  <h1><%= @item.title %></h1>
  <p><%= @item.description %></p>
  <p>
    <%= main_image(@item) %>
  </p>
  <p><%= link_to "Edit item", edit_item_path %></p>
</div>

<%= link_to "All Items", items_path %>
